$gameSize: 460px;
$backgroundColour: black;
$tlNormal: #00a74a;
$tlHighlight: #09ff76;
$trNormal: #9f0f17;
$trHighlight: #ff4141;
$blNormal: #cca707;
$blHighlight: #f9f747;
$brNormal: #094a8f;
$brHighlight: #229aff;
$controlsColour: white;

#app {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;   
}

.container {
    width: $gameSize+60px;
    height: $gameSize+60px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.gameBtn {
    width: $gameSize/2; 
    height: $gameSize/2;
    margin: 0px;
    border-style: solid;
    border-color: $backgroundColour;
    z-index: 1;
}

.topLeft {
    background-color: $tlNormal;
    border-radius:100% 0 0 0;
    border-width: 20px 10px 10px 20px;
}

.topLeftHighlight, .topLeft:active {
    background-color: $tlHighlight;
}

.topRight {
    background-color: $trNormal;
    border-radius: 0 100% 0 0;
    border-width: 20px 20px 10px 10px;
}

.topRightHighlight {
    background-color: $trHighlight;
}

.topRight:active  {
    background-color: $trHighlight;
}

.bottomRight {
    background-color: $brNormal;
    border-radius: 0 0 100% 0;
    border-width: 10px 20px 20px 10px;
}

.bottomRightHighlight, .bottomRight:active {
    background-color: $brHighlight;
}

.bottomLeft {
    background-color: $blNormal;
    border-radius: 0 0 0 100%;
    border-width: 10px 10px 20px 20px;
}

.bottomLeftHighlight, .bottomLeft:active {
    background-color: $blHighlight;
}

.controls {
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: $controlsColour;
    z-index: 5;
    top: 50%;
    left: 50%;
    margin: -120px 0 0 -120px;
    border-radius: 100%;
    border: 20px solid $backgroundColour;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

.vert {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-family: Alfa Slab One, serif;
    font-size: 48px;
}

.label {
    font-family: Roboto, sans-serif;
    font-size: 12px;
}

.counter {
    margin-right: 8px;
    
    .dispIcon {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 60px;
	height: 40px;
	border-radius: 10px;
	background-color: black;
	color: red;
	font-size: 28px;
	/*margin-bottom: 5px;*/
    }

    .hidden {
	color: rgba(255,0,0,0.2);
    }
    
}

.start {
    margin-right: 8px;

    .icon {
	width: 20px;
	height: 20px;
	border-radius: 100%;
	background-color: red;
	border: 1px solid black;
	margin-bottom: 8px;
    }
}

.strict {
    .indicator {
	width: 6px;
	height: 6px;
	background-color: black;
	border-radius: 100px;
	border: 1px solid black;
	margin-bottom: 4px;
    }

    .on {
	background-color: red;
    }
    
    
    .icon {
	width: 20px;
	height: 20px;
	border-radius: 100%;
	background-color: yellow;
	border: 1px solid black;
	margin-bottom: 8px;
    }
}

.disableClicks {
      pointer-events: none;
}